
table {
  width: 80%; /* Ajusta el porcentaje según tus necesidades */
  border-collapse: collapse;
  margin: 110px; /* Ajusta el margen según tus necesidades */
  font-family: Century Gothic, sans-serif;
}

.table th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  background-color:#7FB3D5 ;
  font-size: 20px; /* Ajusta el tamaño de la letra */
  
}

.table td {
  text-align: center; /* Centra el contenido de las celdas */
  border: 1px solid #dddddd;
  padding: 10px;
  font-size: 23px; /* Ajusta el tamaño de la letra */
}


/* Personaliza el tamaño del navbar */
.navbar {
  height: 90px; /* Establece la altura que desees */
  font-family: "Berlin Sans FB"; /* Establece la fuente deseada */
  font-size: 25px; /* Establece el tamaño de la fuente que desees */
}


/* Aplicar estilo solo a la etiqueta <a> con la clase .navbar-brand y texto específico */
a.navbar-brand[href="#"] {
  font-size: 28px; 
}

/* Estilos para alinear elementos a la derecha dentro del navbar */
.navbar-nav.right {
  margin-left: auto;
  
}



